@CHARSET "UTF-8";

.wdqs-thumbnail-container {
	float: left;
	width: 30%;
}
.wdqs-text-container {
	float: left;
	width: 69%;
}
.wdqs-link-container {
	clear: both;
	margin-bottom: .5em;
}
#wdqs-post, #wdqs-draft {
	float: right;
}
p.wdqs-link-to-source {
	margin: 5px auto;
}
.wdqs-thumbnail-container {
	clear: both;
}

/* ----- Thixbox fix yay! ----- */

#TB_overlay {
    z-index: 99101 !important;
}
#TB_window {
    z-index: 99102 !important;
}
#TB_load {
    z-index: 99103 !important;
}
#TB_HideSelect {
    z-index: 99100 !important;
}